<!DOCTYPE html>
<html>
<head>
	<title>asuh</title>

	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>

<h1>Hey I'm from the layout</h1>

{{!-- {{{body}}} --}}

</body>
</html>